body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container {
    padding: $space;
}

.joke {
    min-height: 80px;
    background-color: $color-lightgrey;
    padding: $space-l;
    position: relative;
    font-weight: 200;
    text-align: center;
    font-size: 24px;
    &::after {
        content: '';
        width: 40px;
        height: 40px;
        background-image: url('../svg/quote-right-solid.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: -23px;
        left: 47%;
    }
}